/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4206)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [Evolent_Health]    Script Date: 13-04-2018 19:16:14 ******/
CREATE DATABASE [Evolent_Health]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Evolent_Health', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\Evolent_Health.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Evolent_Health_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\Evolent_Health_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Evolent_Health].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Evolent_Health]
GO
USE [Evolent_Health]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 13-04-2018 19:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[EmailAddress] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 
GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [EmailAddress], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (1, N'Ajaysinh', N'Jagtap', N'aa11@gmail.com', N'9011362102', 1, 0)
GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [EmailAddress], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (3, N'TRESDSD', N'DSDSDFDFSDS', N'aa@gmail.com', N'9011362100', 1, 0)
GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [EmailAddress], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (5, N'TestUser1', N'Ajay', N'aa@gmail.com', N'9011362100', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
USE [master]
GO
